<h1>Edit Note</h1>

<%= form_with model: @note, url: note_path(@note), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 25, rows: 8 %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
   <%= f.submit "Update" %>
  </div> 
<% end %>
